.albumCover {
    width: 450px;
    box-shadow: 2px 2px 12px -3px #232323;
}

@media screen and (max-width: 950px) {
    .albumCover {
        width: 80%;
    }
}

.albumTitle {
    letter-spacing: 1.5px;
}

.musicSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 15px 0;
}

.titleAndButton {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unlistenableButton {
    background-color: #98903b;
    padding: 8px 22px;
    border: none;
    box-shadow: 2px 2px 12px -3px #44401b;
    color: #333333;
    letter-spacing: 0.3em;
    font-weight: bolder;
}

.listenableButton { 
    background-color: #ebde4e;
    padding: 8px 42px;
    border: none;
    box-shadow: 2px 2px 12px -3px #44401b;
    color: #333333;
    letter-spacing: 0.3em;
    font-weight: bolder;
}