@font-face {
  font-family: poppins-light;
  src: url('../src/assets/fonts/Poppins-Light.ttf');
}

* {
  font-family: 'poppins-light', sans-serif;
  color: #F2EFE9;
}

body {
  height: 100%;
  background-color: #333333;
  margin: 0;
  padding: 0;
}

.sectionTitle {
  margin: 0;
  text-align: center;
  padding: 30px 0;
  letter-spacing: 3px;
}

#music {
  height: 700px;
  background-color:rgb(90, 201, 201);
}

.epAnnouncement { 
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em;
}

#media {
  background-color: rgb(255, 250, 103);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#media > * {
  color: #101010;
}

.collageBandPic {
  width: 80%;
  box-shadow: 2px 2px 12px -3px #232323;
  margin-bottom: 70px;
}

#merch {
  background-color: #d35049;
  height: 700px;
}

#merch > h2 {
  letter-spacing: .3em;
  text-align: center;
}

#live {
  background-color: #48865e;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#live h3 {
  text-align: center;
  letter-spacing: 0.2em;
  font-size: large;
}

.showsWrapper {
  width: 100%;
  max-width: 860px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}


#contact {
  background-color: #333333;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

#contact p {
  text-align: center;
  letter-spacing: 0.2em;
  font-size: large;
}

#instaLink {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#instagramLogo {
  padding-top: 10px;
  max-width: 5%;
}

footer {
  background-color: #333333;
  text-align: center;
  padding-bottom: 20px;
}
